<%= fields_for (@registered_applications) do |app| %>
<table class="table table-striped">
<tr>
  <td><%= link_to 'Name', registered_application_path(app) %></td>
  <td><%= link_to 'URL' %></td>
  <td><%= link_to 'Show', registered_application_path(app) %></td>
  <td><%= link_to 'Edit', edit_registered_application_path(app) %></td>
  <td><%= link_to 'Delete', registered_application_path(app), method: :destroy, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
