<div class="container"
  <div class="media">
    <div class="media-body">
      <h1 class="media-heading">
          <%= @registered_app.name %>
          <br>
          <small>
            <%= @registered_app.url %><br><br>
          </small>
      </h1>
      <div class="container">
        <h4>
          <div class="row">
            <%= "Events for #{@registered_app.name}" %>
          </div>
          <% @event_groups.each do |group| %>
            <div class="col-md-4">
              <%= group[0] %>
            </div>
            <%= group[1].count %><br>
          <% end %>
        </h4><br>
      </div>
      <%= link_to "Delete Application", user_registered_app_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
