<div class="container"
  <div class="media">
    <div class="media-body">
      <h1 class="media-heading">
          <%= @registered_application.name %>
          <br>
          <small>
            <%= @registered_application_url %><br><br>
          </small>
      </h1>
      <div class="container">
        <h4>
          <div class="row">
            <%= "Events for #{@registered_application.name}" %>
          </div>
          <%= @event %>
      </div>
      <%= link_to "Delete Application", registered_application_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
  </div>
